<mat-toolbar id="topnav">
    <span>To-Do List</span>
  
    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
    

    <span>About</span>
</mat-toolbar>
<br>
<div style="text-align: center;">
    <mat-button-toggle-group style="background: red;" name="fontStyle" aria-label="Font Style">
        <mat-button-toggle id="dark" checked="true" (click)="light()"  value="light">Light</mat-button-toggle>
        <mat-button-toggle id="light" (click)="dark()" value="dark">Dark</mat-button-toggle>
    </mat-button-toggle-group>

</div>

