.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
 #topnav{
    background: rgb(26, 58, 85);
 } 
 .mat-button-toggle{
   background: rgb(112, 112, 112);
    
 }
 .mat-button-toggle-checked{
   background: rgb(163, 163, 163);
} 
