::ng-deep .mat-focused .mat-form-field-label {
    color: rgb(37, 21, 189) !important;
}
  
::ng-deep.mat-form-field-underline {
    background-color: rgb(12, 31, 85) !important;
} 

::ng-deep.mat-form-field-ripple {
    background-color: rgb(19, 6, 138) !important;;
}