::ng-deep .mat-focused .mat-form-field-label {
    color: rgba(219, 219, 219, 0.808) !important;
}
  
::ng-deep.mat-form-field-underline {
    background-color: rgba(60, 42, 224, 0.747) !important;
} 

::ng-deep.mat-form-field-ripple {
    background-color: rgba(60, 42, 224, 0.747) !important;;
}

