/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: rgb(122, 172, 177);  }

 .mat-tooltip{
      font-size: 12px !important;
}
.background-dark{
      background-color: rgb(44, 44, 44);
      color: white;
}

.background-light{
      background-color: rgb(216, 216, 216);
      color: black;
}

.dbackground-dark{
      background-color: rgb(44, 44, 44);
      color: white;
      width: 300px;
      height: 300px;
}

.dbackground-light{
      background-color: rgb(216, 216, 216);
      color: black;
      width: 300px;
      height: 300px;
}
