#input{
    text-align: center;
}
#card{
    padding-left: 20%;
}
#tcard{
    width: 70%;
    max-height: 520px;
    overflow: auto;
    /* transition: height 1s ease-in-out; */
    background: rgb(133, 155, 152);
    /* text-align: center; */
}


